.strong {
    font-weight: bold; 
}

.btn {
    margin-bottom: 2em;
    margin-top: 0.5em;
}

.wider {
    width: 2040px;
    
}

.form-inline{
    margin: 1em;
}

.glyphicon-remove {
    cursor: pointer;
    
}

a .glyphicon-remove {
    
    color: red;
    margin-top: 0.5em
}

.box {
    border-radius: 25px;
    background: #FFFFCC;
    padding: 15px; 
    margin-bottom: 10px
    
}